body {
  font-family: Arial, sans-serif;
  background: linear-gradient(45deg, #0c0605, #622f63);
  color: #fff;
}

.app {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  height: 100vh;
  background-color: rgba(178, 176, 176, 0.1);
  margin: 40px;
  border-radius: 60px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile {
  /* backdrop-filter: blur(50px); */
  /* border: 2px solid red; */
  border-radius: 50px 50px 5px 5px;
  height: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}






